.bg-gradient {
  background: rgb(129, 230, 217);
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(49, 130, 206, 1) 100%
  );
}

.text-shadow {
  text-shadow: 0 1px 1px rgba(20, 20, 20, .2);
}

.rounded-right {
  border-radius: 0 7px 7px 0;
}

.update-btn {
  background-color: rgba(49, 130, 206, 1);
  color: white;
}

.update-btn:hover {
  background-color: rgba(37, 81, 176, 1);
  color: white;
}

.update-btn:active {
  background-color: rgba(49, 130, 206, .75);
  color: white;
}

.bg-light-gray {
  background-color: #f7fafc;
}

.--border-left {
  border-left: rgba(129, 230, 217, 1);
  border-left-width: 4px;
  border-left-style: solid;
  border-right: white;
  border-right-width: 6px;
  border-right-style: solid;
}

table, tr, td, th, tbody, thead {
  border-top: none!important;
  border-bottom: none!important;
  font-size: 1.5rem;
}

i {
  display: inline-block;
  text-align:center;
}

.event-text {
  resize: none;
  border: none;
  background-color: transparent;
  width: 100%;
  min-height: 7rem;
  font-size: 1.5rem;
  display: inline;
}

.present {
  background-color: #da7e57;
}

.future {
  background-color: #81e6d9;
}

/* Clock */
.circle {
    width: 180px;
    height: 180px;
    position: relative;
    border: 6px solid rgba(129, 230, 217, 1);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(245, 245, 245, .5);

    
      /* &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        margin: -6px 0 0 -6px;
        background: black;
        border-radius: 6px;
        content: "";
        display: block; */
     
  }
  
  .face {
    width: 100%;
    height: 100%;
  }

  .hour, .minute, .second {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(129, 230, 217, 1);
    border-radius: 4px 0 0 4px;
  }

  .minute, .second {
    transform-origin: 50% 100%;
  }

  .hour {
    margin: -4px 0 -4px -25%;
    padding: 4px 0 4px 25%;
    transform-origin: 100% 50%;
  }

  .minute {
    margin: -40% -3px 0;
    padding: 40% 3px 0;
  }

  .second {
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
  }

/* Media Queries */
@media only screen and (max-width: 768px) {
  .shrink-clock {
    transform: scale(.7, .7);
  }
  :root {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 618px) {
  :root {
    font-size: .7rem;
  }
  .align-header {
    text-align: center;
    display: block!important;
    padding-bottom: 0!important;
  }
  .align-clock {
    text-align: center;
  }

  .inline-block{
    display: inline-block;
  }
  table, tr, td, th, tbody, thead {
    font-size: 1rem;
  }
}

  
 

 